- if (things.ok)
		div.remoteOK!=things.ok
- if (things.arrows)
		div.remoteArrows!=things.arrows
- if (things.home)
		div.remoteHome!=things.home
- if (things.info)
		div.remoteInfo!=things.info
- if (things.display)
		div.remoteDisplay!=things.display
- if (things.leftRight)
		div.remote-left-right!=things.leftRight
- if (things.upDown)
		div.remote-up-down!=things.upDown
- if (things.playPause)
		div.remote-play-pause!=things.playPause
- if (things.save)
		div.remote-save!=things.save
- if (things['delete'])
		div.remote-delete!=things['delete']
- if (things['return'])
		div.remote-return!=things['return']
