div.tui-multiscreen.phone-keyboard
	input.phoneDisplay(type="tel", pattern="[0-9]", name="phoneNumber")
	div.row
		div.phone-btn!= "1"
		div.phone-btn!= "2"
		div.phone-btn!= "3"
		div.phone-btn.up
			img.phone-image(src="app/imgs/phone.svg")
	div.row
		div.phone-btn!= "4"
		div.phone-btn!= "5"
		div.phone-btn!= "6"
		div.phone-btn.down
			img.phone-image(src="app/imgs/phone.svg")
	div.row
		div.phone-btn!= "7"
		div.phone-btn!= "8"
		div.phone-btn!= "9"
		div.phone-btn.calls
			img.phone-image(src="app/imgs/calls.svg")
	div.row
		div.phone-btn!= "*"
		div.phone-btn!= "0"
		div.phone-btn!= "#"
		div.phone-btn.phoneBook
			img.phone-image(src="app/imgs/phone-book.svg")
