div.tui-multiscreen.telephonyChooser
	div.icon
		div.callCenterC
		span!= body.callcenter
	div.icon
		div.callHistoryC
		span!= body.history
	div.icon
		div.voiceMailC
		span!= body.voicemail
	div.icon
		div.sendSMSC
		span!= body.sms
	div.icon
		div.phonebookC
		span!= body.phonebook
