div.tui-multiscreen.phone-keyboard
	div.phoneDisplay
	div.row
		div.phone-btn.digit!= "1"
		div.phone-btn.digit!= "2"
		div.phone-btn.digit!= "3"
		div.phone-btn.del
			img.phone-image(src="app/imgs/delete.svg")
	div.row
		div.phone-btn.digit!= "4"
		div.phone-btn.digit!= "5"
		div.phone-btn.digit!= "6"
		div.phone-btn.phoneBook
			img.phone-image(src="app/imgs/phone-book.svg")
	div.row
		div.phone-btn.digit!= "7"
		div.phone-btn.digit!= "8"
		div.phone-btn.digit!= "9"
		div.phone-btn.calls
			img.phone-image(src="app/imgs/calls.svg")
	div.row
		div.phone-btn.digit!= "*"
		div.phone-btn.digit!= "0"
		div.phone-btn.digit!= "#"
		div.phone-btn.up
			img.phone-image(src="app/imgs/phone.svg")

