div.weatherWrapper
	div.weatherScreen
		div.weatherCity!= "City: " + location.city + ', ' + location.country
		- for (var i = 0; i < things.length; i++ )
			div.weatherDay
				div.weatherDayTitle!= things[i].dayTitle
				div.icon
					img(src="http://img.weather.weatherbug.com/forecast/icons/localized/80x67/en/trans/" + things[i].dayIcon + ".png")
				div.weatherName!= things[i].dayDesc
				- if (things[i].humidity)
					div.humidity!= "Humidity: " + things[i].humidity
				div.minTemp!= "Temp. Low: " + things[i].low + ' ' + unit
				div.maxTemp!= "Temp. High: " + things[i].high + ' ' + unit
				-if (things[i].feelslike)
					div.feelsLike!= "Feels like: " + things[i].feelslike
				-if (things[i].wind)
					div.wind!= "Winds: " + things[i].wind
